# User defined
/checkpoints/
/data/
/logs/
/slurm/outputs/
/output/

# Wandb
.secrets
/wandb/


# Byte-compiled / optimized / DLL files
*.py[cod]

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# MacOs
.DS_Store